
* {
  box-sizing: border-box;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 25px;
  color: #222;
  background: #eef9ec;
}

h1 {
  font-weight: bold;
  font-family: "Lucida Console", Monaco, monospace
}

.bold {
  font-weight: bold;
}

p {
  max-width: 900px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #87D37C;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 5px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=submit] {
  font-size: 16px;
  border-radius: 3px;
  background-color: #E4F1FE;
  border: 1px solid grey;
  box-shadow: 2px 2px #999;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #FFFEC4;
}

code {
  font-family: monospace;
  font-size: 1.2em;
  background-color: #FFFEC4;
  padding: 2px;
}
footer{
  text-align: center;
  margin: 1%;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.container{
  width: 670px;
  margin: auto;
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
}
